.workspacepace .title,.date {
    font-size: 18px;
    font-weight: normal;
}

.workspace .title {
    font-style: italic;
    color: #036;
}

.workspace .location {
    font-style: italic;
    color: #666;
}

.date {
    color: #666;
}
